{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block container %}
     <div class="row" style="padding-top: 50px;">
        <div class="col-xs-11 col-md-10">
                <ol class="breadcrumb breadcrumb-arrow">
                  <li><a href="{% url 'superuserdashboard' %}"><i class="glyphicon glyphicon-home"></i> SuperUser Dashboard</a></li>
                  <li><a href="{% url 'sd_spaces' %}"><i class="glyphicon glyphicon-fullscreen"></i> Spaces</a></li>
                  <li class="active"><span><i class="glyphicon glyphicon-calendar"></i> Events</span></li>
                </ol>
              </div>
         <div class="col-xs-1 col-md-2">
                <div class="form-search search-only">
                  <i class="search-icon glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control search-query">
                </div>
         </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel-group panel-group-lists collapse in" id="accordion2">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                      Events
                       <i class="fa fa-minus pull-right"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="col-xs-12">
                        <a href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add Event</a>
                    </div>
                      <div class="col-xs-12 table-responsive" style="padding-top: 20px;">
                    <table class="table table-bordered table-hover responsive" id="ufs">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Adress</th>
                          </tr>
                        </thead>
                        <tbody>
                             {% for event in events %}
                             <tr >
                                <td>{{ event.title }}</td>
                                <td>{{ event.descritpion }}</td>
                                <td>{{ event.startdate }}</td>
                                <td>
                                    <span class="label label-success">Normal</span>
                                </td>
                                <td>{{ event.address }}</td>
                             </tr>
                             {% endfor %}
                        </tbody>
                      </table>
                     </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
      <script>
            $(document).ready(function() {
				$('#ufs').DataTable();
			} );
    </script>
{% endblock %}