{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block container %}
    <style>
    .btn-xxl {
  padding: 20px 26px;
  font-size: 35px;
  border-radius: 8px;
}
    </style>
     <div class="row" style="margin-bottom: 0px!important;">
        <div class="col s12 m10">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> SuperUser Dashboard</a></li>
                </ol>
              </div>
         <div class="col s12 m2 ">
                <div class="form-search search-only">
                  <i class="search-icon glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control search-query">
                </div>
         </div>
     </div>
    <div class="row">
        <div class="col s12">
          <h4>
            Dashboard
            <small>Control panel</small>
          </h4>
          <hr style="height: 1px; border: none; color: #000; background-color: #f6bb42;margin-top: 0px!important; ">
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px!important;">
        <div class="col l2 m3 s6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ nspaces }}</h3>
                  <h5>Spaces</h5>
                </div>
                <div class="icon">
                  <i class="material-icons">fullscreen</i>
                </div>
                <a href="{% url 'sd_spaces' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col l2 m3 s6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ nusers }}</h3>
                  <h5>Users</h5>
                </div>
                <div class="icon">
                    <i class="material-icons">person</i>
                </div>
                <a href="{% url 'sd_users' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col l2 m3 s6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{ nevents }}</h3>
                  <h5>Events</h5>
                </div>
                <div class="icon">
                  <i class="material-icons">today</i>
                </div>
                <a href="{% url 'sd_events' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col l2 m3 s6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>0</h3>
                  <h5>Favs</h5>
                </div>
                <div class="icon">
                  <i class="material-icons">star_rate</i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
    </div>
     <div class="row">
        <div class="col s12">
          <h4 style="margin-bottom: 5px!important;">
            Configuration
            <small>Control panel</small>
          </h4>
          <hr style="height: 1px; border: none; color: #000; background-color: #f6bb42;margin-top: 0px!important; ">
        </div>
    </div>
    <div class="row">
        <div class="col l2 m3 s6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>Params</h3>
                  <h5></h5>
                </div>
                <div class="icon">
                  <i class="material-icons">build</i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
    </div>


{% endblock %}