{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}

    <div class="row">
        <div class="col s12 m12">
            <div class="container-fluid">
                <div class="page-header" style="border-bottom:1px solid #f6bb42; margin-bottom: 10px!important;">
                    <h5 class="pull-left" style="margin-bottom: 0px!important;">
                        Administration
                    </h5>
                    <div class="pull-right">
                        <ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 0px!important;">
                            <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                            <li class="active"><span><i class="glyphicon glyphicon-user"></i>  {{ user.username }}</span></li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel white z-depth-3">
                <div class="center-align">
                    <img src="{% if profile.avatar %} {{ profile.avatar.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" class="center-align circle responsive-img" style="width: 100px; height: 100px; margin:0px auto!important;">
                </div>
                <h4 style="text-align: center;">La Boite</h4>
                 <ul class="transparent collection">
                  <li class="collection-item transparent">Events<span class="badge red white-text">{{ nevents }}</span></li>
                  <li class="collection-item transparent">Followers<span class="badge green white-text">1500</span></li>
                </ul>
                 <div>
                     <strong><i class="material-icons prefix">mode_edit</i> Type</strong>
                     <p>
                         <span class="badge badge-alone red white-text">Rumba</span>
                         <span class="badge badge-alone brown white-text">Techno</span>
                         <span class="badge badge-alone blue white-text">Swing</span>
                         <span class="badge badge-alone blue-grey white-text">Rock</span>
                     </p>
                     <hr>
                     <strong><i class="material-icons prefix">location_on</i></i> Location</strong>
                     <p class="text-muted">Essera, 29 Lleida</p>
                 </div>
            </div>
        </div>
        <div class="col s12 m9">
            <div class="card-panel white z-depth-3">
                <div class="row">
                    <div class="col s12 m12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#test1">Spaces</a></li>
                        <li class="tab col s3"><a href="#test2">Settings</a></li>
                    </ul>
                        <div id="test1" class="col s12 m12">
                     {% block modal %}
                     <button id="comment-button" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-plus"></span> Add</button><br><br>
                     {% endblock modal %}
                     <table class="table bordered highlight" id="ufs">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Tipus</th>
                                    <th>Adress</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for space in spaces %}
                                    <tr style="cursor:pointer" data-link="{% url 'administrationspace' space.id %}">
                                        <td><img src="{% if space.logotype %} {{ space.logotype.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" class="img-responsive img-circle" alt="User Image" style=" width:25px;height:25px;float: left; margin-right: 10px;"> {{ space.name }}</td>
                                        <td>{{ space.email }}</td>
                                        <td>
                                            <span class="badge green white-text badge-alone">Rumba</span>
                                        </td>
                                        <td>Riu Éssera, 6 Lleida</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                 </div>
                        <div id="test2" class="col s12 m12">
                    <form action="." method="post" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="form-group">
                                            <label for="formuser.username.id_for_label">User Name</label>
                                            {{ formuser.username|add_class:"form-control" }}
                                        </div>
                                        <div class="form-group">
                                            <label for="formuser.first_name.id_for_label">Business Name</label>
                                            {{ formuser.first_name|add_class:"form-control" }}
                                        </div>
                                        <div class="form-group">
                                            <label for="formuser.email.id_for_label">Email</label><br>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                {{ formuser.email|add_class:"form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="form-group">
                                            <label for="form.avatar.id_for_label">Avatar</label></br>
                                            <!--<img class="img-responsive img-circle" src="{% if profile.avatar %} {{ profile.avatar.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" alt="logo" style="width: 64px; height: 64px;"></a>-->
                                            {{ form.avatar|add_class:"form-control" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                                </div>
                    </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="SpaceModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="SpaceModalLabel"><i class="glyphicon glyphicon-fullscreen"></i> Add Space</h4>
                </div>
                <div class="modal-body" id="space-modal-body">
                  Hola
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#ufs').DataTable();
        $('#ufs_paginate').addClass('pagination');
        $('#ufs_wrapper').addClass('row');
        $('#ufs_length').addClass('col');
        $('#ufs_length').addClass('s12');
        $('#ufs_length').addClass('m6');
        $('#ufs_filter').addClass('col');
        $('#ufs_filter').addClass('s12');
        $('#ufs_filter').addClass('m6');

        $("tr[data-link]").click(function() {
                window.location = this.dataset.link
            });

        var formAjaxSubmit = function(form, modal) {
        $(form).submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (xhr, ajaxOptions, thrownError) {
                        if ( $(xhr).find('.has-error').length > 0 ) {
                            $(modal).find('.modal-body').html(xhr);
                            formAjaxSubmit(form, modal);
                        } else {
                            $(modal).modal('toggle');
                            $.notify({
                                icon: 'glyphicon glyphicon glyphicon-ok-sign',
                                message: 'Space added successfully'
                            },{
                                // settings
                                type: 'success',
                                newest_on_top: true
                            });
                            location.reload();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });
            });
        }
        $('#comment-button').click(function() {
            $('#space-modal-body').load('{% url 'space-modal' %}', function () {
                $('#SpaceModal').modal('toggle');
                formAjaxSubmit('#space-modal-body form', '#SpaceModal');
            });
        });
    } );
    </script>

{% endblock %}