{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}
        <style>
#map {
  width: 100%;
  height: 300px;
  z-index: 1100!important;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
#id_address
{
    width: 74%;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.pac-container{
    z-index: 1100!important;
}

.gm-style{
    z-index: 1100!important;
}

</style>

		<div class="row">
             <div class="col-sm-12 col-md-12">
       <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;"   >
            <div class="page-header" style="border-bottom:1px solid #f6bb42">
              <h4 class="pull-left">
                Events
              </h4>
              <div class="pull-right">
                <ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 0px!important;">
                    <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                    <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-user"></i> {{ user.username }}</a></li>
                    <li><a href="{% url 'administrationspace' space.id %}"><i class="glyphicon glyphicon-fullscreen"></i> {{ space.name }}</a></li>
{#                    <li><a href="{% url 'administrationevents' space.id %}"><i class="glyphicon glyphicon-calendar"></i> Events</a></li>#}
                    {% if event %}
                        <li class="active"><span><i class="glyphicon glyphicon-calendar"></i>  {{ event.title    }}</span></li>
                    {% else %}
                        <li class="active"><span><i class="glyphicon glyphicon-calendar"></i>  Add</span></li>
                    {% endif %}
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
             </div>
		</div>
         <div class="row">
            <div class="col-md-2">
                 <div class="panel panel-default">
                     <div class="panel-body">
                        <h5>{{ event.title }}</h5>
                         <img src="{% if event.poster %} {{ event.poster.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" class="img-responsive" style="width: 226px; height: 300px; margin:0px auto!important;">
                     </div>
                 </div>
            </div>
                <div class="col-md-10">
                <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Event Configuration</h3>
              </div>
              <div class="panel-body">
                <ul id="myTab1" class="nav nav-tabs">
                      <li class="active"><a href="#profile3" data-toggle="tab">Playlist</a></li>
                      <li class=""><a href="#home3" data-toggle="tab">Settings</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="profile3">

                      <div class="row">
                          <div class="col-lg-8">
                            <div class="input-group">
                              <input type="text" class="form-control typeahead" id="searchsong" placeholder="Search for a song to add to this playlist ...">
                              <span class="input-group-btn">
                                <button class="btn btn-warning" id="addsong" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                      </div>

                      <div class="form-group" style="margin-top: 20px!important;">
                        <table class="table table-bordered table-hover responsive"  id="ufs">
                        <thead>
                          <tr>
                            <th>Preview</th>
                            <th>Cançó - Artista</th>
                          </tr>
                            <tbody class="event-list">
                             {% for song in songs %}
                             <tr style="cursor:pointer" data-link="#">
                                <td>
                                    <audio id="player{{ song.id }}" src="{{ song.href_play }}"></audio>
                                    <div>
                                        <button onclick="document.getElementById('player{{ song.id }}').play()">Play</button>
                                        <button onclick="document.getElementById('player{{ song.id }}').pause()">Pause</button>
                                    </div>
                                </td>
                                 <td>
                                    {{ song.title }}
                                </td>
                             </tr>
                             {% endfor %}
                        </tbody>
                        </thead>
                      </table>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="home3">
                        <div class="row">
                          <div class="col-md-8">
                <form action="." method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                              <div class="form-group">
                                  <label for="form.title.id_for_label">Name</label>
                                  {{ form.title|add_class:"form-control" }}
                              </div>
                              <div class="form-group">
                                  <label for="form.description.id_for_label">Description</label>
                                  {{ form.description|add_class:"form-control" }}
                              </div>
                             <div class="form-group">
                                 <label for="form.startdate.id_for_label">Start Date</label>
                                 <div class='input-group date' id='datetimepicker1'>
                                    {{ form.startdate|add_class:"form-control" }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                              </div>
                             <div class="form-group {% if form.poster.errors %}has-error{% endif %}">
	                          	 <label for="form.poster.id_for_label">Poster Event</label></br>
                                 <div class="input-group">
	                    	        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                     {{ form.poster|add_class:"form-control" }}
	                    	  	</div>
	              	        </div>
                            <br>
                            <div class="form-group">
                                  <label for="form.title.address">Address</label>
                                  {{ form.address|add_class:"form-control" }}
                              </div>
                            <div id="map" class="form-group"></div>
                           <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </form>
                </div>
            </div>
                   </div>
            </div>
		        </div>
         </div>
        <script>
            $(document).ready(function () {
                var map;
                function resizeMap() {
                  if (typeof map == "undefined") return;
                  resizingMap();
                }

                function resizingMap() {
                  if (typeof map == "undefined") return;
                  var center = map.getCenter();
                  google.maps.event.trigger(map, "resize");
                  map.setCenter(center);
                }

                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -33.8688, lng: 151.2195},
                    zoom: 13
                  });
                  var input = /** @type {!HTMLInputElement} */(
                      document.getElementById('id_address'));

                  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                  var autocomplete = new google.maps.places.Autocomplete(input);
                  autocomplete.bindTo('bounds', map);

                  var infowindow = new google.maps.InfoWindow();
                  var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                  });
                  autocomplete.addListener('place_changed', function() {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                      window.alert("Autocomplete's returned place contains no geometry");
                      return;
                    }
                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                      map.fitBounds(place.geometry.viewport);
                    } else {
                      map.setCenter(place.geometry.location);
                      map.setZoom(17);  // Why 17? Because it looks good.
                    }
                    marker.setIcon(/** @type {google.maps.Icon} */({
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                      address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                      ].join(' ');
                    }
                    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    infowindow.open(map, marker);
                  });
                }
                initMap();

                songstable = $('#ufs').DataTable();

                // Test Typeahead autocmplete
                // Instantiate the Bloodhound suggestion engine
                var movies = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('items'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                            url: 'https://api.spotify.com/v1/search?query=%QUERY&offset=0&limit=20&type=track,artist',
                            wildcard: '%QUERY',
                        filter: function (movies) {
                            // Map the remote source JSON array to a JavaScript object array
                            return $.map(movies.tracks.items, function (movie) {
                                return {
                                    value: movie.name + " by " + movie.artists[0].name,
                                    song: movie
                                };
                            });
                        }
                    }
                });
                // Initialize the Bloodhound suggestion engine
                movies.initialize();
                var songselected;
                // Instantiate the Typeahead UI
                $('.typeahead').typeahead(null, {
                    name: 'tracks',
                    displayKey: 'value',
                    minLength:3,
                    source: movies.ttAdapter()
                }).on('typeahead:selected', function(obj, datum){
                    songselected = datum.song;
                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                  resizeMap();
                });

                $("#addsong").click(function() {
                    var input_string = $("#searchsong").val();
{#                    $.ajax({#}
{#                        url : "/ajaxexample_json", #}
{#                        type : "POST",#}
{#                        dataType: "json", #}
{#                        data : {#}
{#                            client_response : input_string,#}
{#                            csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                            },#}
{#                        success : function(json) {#}
{#                            $('#result').append( 'ServerResponse:' + json.server_response);#}
{#                        },#}
{#                        error : function(xhr,errmsg,err) {#}
{#                            alert(xhr.status + ": " + xhr.responseText);#}
{#                        }#}
{#                    });#}
                    var email = 'erueloi@gmail.com';
                    $.ajax({
                        type: 'POST',
                        url: window.location.href,
                        data: { csrfmiddlewaretoken : '{{ csrf_token }}', song : JSON.stringify(songselected) },
                        dataType: 'json',
                        success: function(json) {
                                songstable.row.add( [
                                    '<a href=' + songselected.preview_url + '>Play</a>',
                                    input_string
                                ] ).draw();
                        },
                        error:  function(xhr,errmsg,err) {
                                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                 }
                    });
                    return false;
            });

            });
            </script>
    <script type="text/javascript">
             $('#datetimepicker1').datetimepicker({
                    locale: 'ca',
                    showTodayButton: true,
                    allowInputToggle: true,
                    format: 'L'
                });
        </script>

{% endblock %}