{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}
        <style>
      #map {width: 500px; height: 300px}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
</style>

		<div class="row">
             <div class="col-sm-12 col-md-12">
       <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;"   >
            <div class="page-header" style="border-bottom:1px solid #f6bb42">
              <h4 class="pull-left">
                Events
              </h4>
              <div class="pull-right">
                <ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 0px!important;">
                    <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                    <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-user"></i> {{ user.username }}</a></li>
                    <li><a href="{% url 'administrationspace' space.id %}"><i class="glyphicon glyphicon-fullscreen"></i> {{ space.name }}</a></li>
{#                    <li><a href="{% url 'administrationevents' space.id %}"><i class="glyphicon glyphicon-calendar"></i> Events</a></li>#}
                    {% if event %}
                        <li class="active"><span><i class="glyphicon glyphicon-calendar"></i>  {{ event.title    }}</span></li>
                    {% else %}
                        <li class="active"><span><i class="glyphicon glyphicon-calendar"></i>  Add</span></li>
                    {% endif %}
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
             </div>
		</div>
         <div class="row">
            <div class="col-md-2">
                 <div class="panel panel-default">
                     <div class="panel-body">
                        <h5>{{ event.title }}</h5>
                         <img src="{% if event.poster %} {{ event.poster.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" class="img-responsive" style="width: 226px; height: 300px; margin:0px auto!important;">
                     </div>
                 </div>
            </div>
                <div class="col-md-10">
                <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Event Configuration</h3>
              </div>
              <div class="panel-body">
                <ul id="myTab1" class="nav nav-tabs">
                      <li class="active"><a href="#profile3" data-toggle="tab">Songs Playlist</a></li>
                      <li class=""><a href="#home3" data-toggle="tab">Settings</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="profile3">
                         <label for="query">Search:</label>
                        <input class="form-control autocomplete" name="spotify_song_search" id="spotify_song_search" placeholder="Start typing song or artist to add in list..." type="text"><br>
                        <table class="table table-bordered table-hover" id="ufs">
                        <thead>
                          <tr>
                            <th>Cançó - Artista</th>
                          </tr>
                        </thead>
                      </table>

                   </div>
                   <div class="tab-pane fade" id="home3">
                        <div class="row">
                          <div class="col-md-8">
                <form action="." method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                              <div class="form-group">
                                  <label for="form.title.id_for_label">Name</label>
                                  {{ form.title|add_class:"form-control" }}
                              </div>
                              <div class="form-group">
                                  <label for="form.description.id_for_label">Description</label>
                                  {{ form.description|add_class:"form-control" }}
                              </div>
                             <div class="form-group">
                                 <label for="form.startdate.id_for_label">Start Date</label>
                                 <div class='input-group date' id='datetimepicker1'>
                                    {{ form.startdate|add_class:"form-control" }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                              </div>
                             <div class="form-group {% if form.poster.errors %}has-error{% endif %}">
	                          	 <label for="form.poster.id_for_label">Poster Event</label></br>
                                 <div class="input-group">
	                    	        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                     {{ form.poster|add_class:"form-control" }}
	                    	  	</div>
	              	        </div>
                            <br>
                            <div class="form-group">
                                  <label for="form.title.address">Address</label>
                                  {{ form.address|add_class:"form-control" }}
                                <div id="type-selector" class="controls">
                                  <input type="radio" name="type" id="changetype-all" checked="checked">
                                  <label for="changetype-all">All</label>

                                  <input type="radio" name="type" id="changetype-establishment">
                                  <label for="changetype-establishment">Establishments</label>

                                  <input type="radio" name="type" id="changetype-address">
                                  <label for="changetype-address">Addresses</label>

                                  <input type="radio" name="type" id="changetype-geocode">
                                  <label for="changetype-geocode">Geocodes</label>
                                </div>
                              </div>
                            <div id="map"></div>
                           <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </form>
                </div>
            </div>

                          </div>
            </div>
		        </div>
         </div>
        <script>

            $(document).ready(function () {
                var map;
                function resizeMap() {
                  if (typeof map == "undefined") return;
                  resizingMap();
                }

                function resizingMap() {
                  if (typeof map == "undefined") return;
                  var center = map.getCenter();
                  google.maps.event.trigger(map, "resize");
                  map.setCenter(center);
                }

                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -33.8688, lng: 151.2195},
                    zoom: 13
                  });
                  var input = /** @type {!HTMLInputElement} */(
                      document.getElementById('id_address'));

                  var types = document.getElementById('type-selector');
                  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                  map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

                  var autocomplete = new google.maps.places.Autocomplete(input);
                  autocomplete.bindTo('bounds', map);

                  var infowindow = new google.maps.InfoWindow();
                  var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                  });

                  autocomplete.addListener('place_changed', function() {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                      window.alert("Autocomplete's returned place contains no geometry");
                      return;
                    }

                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                      map.fitBounds(place.geometry.viewport);
                    } else {
                      map.setCenter(place.geometry.location);
                      map.setZoom(17);  // Why 17? Because it looks good.
                    }
                    marker.setIcon(/** @type {google.maps.Icon} */({
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                      address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                      ].join(' ');
                    }

                    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    infowindow.open(map, marker);
                  });

                  // Sets a listener on a radio button to change the filter type on Places
                  // Autocomplete.
                  function setupClickListener(id, types) {
                    var radioButton = document.getElementById(id);
                    radioButton.addEventListener('click', function() {
                      autocomplete.setTypes(types);
                    });
                  }

                  setupClickListener('changetype-all', []);
                  setupClickListener('changetype-address', ['address']);
                  setupClickListener('changetype-establishment', ['establishment']);
                  setupClickListener('changetype-geocode', ['geocode']);
                }
                initMap();


                songstable = $('#ufs').DataTable();

                function split( val ) {
                  return val.split( /;\s*/ );
                }

                function extractLast( term ) {
                  return split( term ).pop();
                }

                $("#spotify_song_search").bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "ui-autocomplete" ).menu.active ) {
                      event.preventDefault();
                    }
                  }).autocomplete({
                    source: function(request, response) {
                            $.get("http://ws.spotify.com/search/1/track.json", {
                                    q: extractLast( request.term  )
                            }, function(data) {
                                    response($.map(data.tracks, function(item) {
                                            return {label: item.name + " by " + item.artists[0].name, track: item};
                                    }));
                            });
                    },
                    focus: function() {
                      // prevent value inserted on focus
                    return false;
                  },
                  select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    songstable.row.add( [
                        terms.join( " " )
                    ] ).draw();
                    return false;
                  },
                    minLength: 3,

                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                  resizeMap();
                });


            });
            </script>
    <script type="text/javascript">
             $('#datetimepicker1').datetimepicker({
                    locale: 'ca',
                    showTodayButton: true,
                    allowInputToggle: true,
                    format: 'L'
                });
        </script>

{% endblock %}