{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}

		<div class="row">
             <div class="col-sm-12 col-md-12">
       <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
            <div class="page-header" style="border-bottom:1px solid #f6bb42">
              <h4 class="pull-left">
                Events
              </h4>
                {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                     <div class="alert alert-success alert-dismissable pull-left">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                           {{ message }}.
                     </div>
                {% endfor %}
             {% endif %}
              <div class="pull-right">
                <ol class="breadcrumb breadcrumb-arrow">
                          <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                          <li><a href="#"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                          <li class="active"><a href="#"><i class="glyphicon glyphicon-calendar"></i> Events</a></li>
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
            <div class="panel panel-default">
          <div class="panel-body">
              <div class="col-sm-10 col-md-10">
                  <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" class="img-circle" style="width: 100px; height: 100px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">La Boite</h4>
                  </div>

              </div>
              </div>
              <div class="col-sm-2 col-md-2">
                  <a href="{% url 'addevents' %}" class="btn btn-warning btn-block pull-right"><span class="glyphicon glyphicon-plus"></span> Add Event</a>
                  </div>


          </div>
        </div>


			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">

				<ul class="event-list">
                    {% if events %}
                        {% for event in events %}
                            <li>
                                <time datetime="{{ event.startdate }}">
                                    <span class="day">{{ event.startdate.day }}</span>
                                    <span class="month">{{ event.startdate|date:"N" }}</span>
                                    <span class="year">{{ event.startdate.year }}</span>
                                    <span class="time">ALL DAY</span>
                                </time>
                                <img alt="Independence Day" src="{{ event.poster.url }}" />
                                <div class="info">
                                    <h2 class="title">{{ event.title }}</h2>
                                    <p class="desc">{{ event.description }} </p>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}

				</ul>
			</div>
		</div>

{% endblock %}