{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}
    <style>
#map {
  width: 100%;
  height: 300px;
  z-index: 1100!important;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
#id_address
{
    width: 74%;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
    z-index: 1100!important;
}

.gm-style{
    z-index: 1100!important;
}

.fc-event{
    cursor:pointer;
}

</style>
   <div class="row">
    <div class="col s12 m12">
       <div class="container-fluid">
            <div class="page-header" style="border-bottom:1px solid #f6bb42; margin-bottom: 10px!important;">
              <h5 class="left" style="margin-bottom: 0px!important;">
                Administration
              </h5>
              <div class="pull-right">
                <ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 0px!important;">
                  <li><a href="#"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                  <li><a href="{% url 'profilespace' %}"><i class="glyphicon glyphicon-user"></i> {{ user.username }}</a></li>
                  <li class="active"><a href="#"> <span><i class="glyphicon glyphicon-fullscreen"></i>  {{ space.name }}</span></a></li>
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
    </div>
   </div>
    <div class="row">
        <div class="col s12 m3">
             <div class="card-panel white z-depth-3">
                     <div class="center-align">
                         <img src="{% if space.logotype %} {{ space.logotype.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" class="img-responsive img-circle" style="width: 100px; height: 100px; margin:0px auto!important;">
                     </div>
                     <h4 style="text-align: center;">La Boite</h4>
                     <ul class="transparent collection">
                      <li class="collection-item transparent"><span class="badge red white-text">{{ space.event_set.all.count }}</span>Events</li>
                      <li class="collection-item transparent"><span class="badge green white-text">1500</span>Followers</li>
                    </ul>
                     <div>
                         <strong><i class="material-icons prefix">mode_edit</i> Type</strong>
                          <p>
                            <span class="badge badge-alone red white-text">Rumba</span>
                            <span class="badge badge-alone brown white-text">Techno</span>
                            <span class="badge badge-alone blue white-text">Swing</span>
                            <span class="badge badge-alone blue-grey white-text">Rock</span>
                          </p>
                          <hr>
                          <strong><i class="material-icons prefix">location_on</i> Location</strong>
                          <p class="text-muted">Essera, 29 Lleida</p>
                 </div>
             </div>
        </div>

        <div class="col s12 m9">
           <div class="card-panel white z-depth-3">
                <div class="row">
                    <div class="col s12 m12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#test1">Upcoming Events</a></li>
                            <li class="tab col s3"><a href="#test2">Settings</a></li>
                        </ul>
                        <div id="test1" class="col s12 m12">
                     <div class="row" style="text-align: center; margin-top: 10px!important;">
                         <button id="btncalendarevents" class="waves-effect waves-light btn" style="padding: 0px 15px 0px 15px!important;"><i class="material-icons">event</i></button>
                         <button id="btnlistevents" class="waves-effect waves-light btn" style="padding: 0px 15px 0px 15px!important;"><i class="material-icons">list</i></button>
                         {% block modal %}
                             <button id="comment-button" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-plus"></span> Add</button><br><br>
                         {% endblock modal %}
                     </div>
                     <div class="row" id="calendarevents">
                          <div id="calendar"></div>
                     </div>
                     <div class="row" id="listevents" style="display: none;">
                         <div>
                             <table class="table table-bordered table-hover responsive bordered highlight" id="ufs" >
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Poster</th>
                                    <th>Description</th>
                                    <th>Social</th>
                                  </tr>
                                </thead>
                                <tbody class="event-list">
                                     {% for event in events %}
                                     <tr style="cursor:pointer" data-link="{% url 'administrationevent' space.id event.id %}">
                                        <td>
                                             <time datetime="{{ event.startdate }}">
                                                <span class="day">{{ event.startdate.day }}</span>
                                                <span class="month">{{ event.startdate|date:"N" }}</span>
                                                <span class="year">{{ event.startdate.year }}</span>
                                                <span class="time">ALL DAY</span>
                                            </time>
                                        </td>
                                        <td> <img style="width: 60px;" alt="Independence Day" src="{{ event.poster.url }}" /></td>
                                        <td>
                                            <div class="info">
                                                <h3 class="title">{{ event.title }} </h3>
                                                <p class="desc">{{ event.description }} </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="social">
                                                <ul>
                                                    <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                                    <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                                    <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                                </ul>
                                            </div>
                                        </td>
                                     </tr>
                                     {% endfor %}
                                </tbody>
                              </table>
                         </div>
                     </div>
{#                     <div class="row" style="margin-top: 10px;">#}
{#                        <div class="blue center">#}
{#                              {% for event in events %}#}
{#                                  <div>#}
{#                                      <div>#}
{#                                           <h7 style="margin-bottom: 0px!important;"><i class="glyphicon glyphicon-calendar"></i> {{ event.title }}</h7><br>#}
{#                                           <span>{{ event.startdate|date }}</span>#}
{#                                        </div>#}
{#                                      <img src="{{ event.poster.url }}" alt="500x300" data-src="holder.js/500x300/social" style="height: 100px;">#}
{#                                  </div>#}
{#                             {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
                  </div>
                        <div id="test2" class="col s12 m12">
                            <div class="row">
                                <div class="col s12 m6">
                              <form action="." method="post" role="form" enctype="multipart/form-data">
                                  {% csrf_token %}
                              <div class="form-group">
                                  <label for="form.name.id_for_label">Name</label>
                                  {{ form.name|add_class:"form-control" }}
                              </div>
                              <div class="form-group">
                                  <label for="form.email.id_for_label">Email</label><br>
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    {{ form.email|add_class:"form-control" }}
                                  </div>
                              </div>
                                   <div class="form-group">
                                            <label for="form.logotype.id_for_label">Logotype</label></br>
                                            <!--<img class="img-responsive img-circle" src="{% if profile.avatar %} {{ profile.avatar.url }} {% else %} {% static "img/no_logo.png" %} {% endif %}" alt="logo" style="width: 64px; height: 64px;"></a>-->
                                            {{ form.logotype|add_class:"form-control" }}
                                      </div>
                               <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                               </form>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

     <div id="SpaceModal" class="modal">
        <div class="modal-content" id="space-modal-body">
           <h4 id="SpaceModalLabel"><i class="glyphicon glyphicon-fullscreen"></i> Add Space</h4>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    <script>
            $(document).ready(function() {
                var map;
				$('.center').slick({
                  slidesToShow: 6,
                  responsive: [
                    {
                      breakpoint: 768,
                      settings: {
                        arrows: false,
                        centerPadding: '10px',
                        slidesToShow: 3
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        arrows: false,
                        centerPadding: '10px',
                        slidesToShow: 1
                      }
                    }
                  ]
                });
                $('#ufs').DataTable({
                  "lengthMenu": [ 5, 10, 25, 50, 75, 100 ]
                } );

                $("tr[data-link]").click(function() {
						window.location = this.dataset.link
					});
                var formAjaxSubmit = function(form, modal) {
                $(form).submit(function (e) {
                        var formData = new FormData(document.getElementById("eventform"));
                        e.preventDefault();
                        $.ajax({
                            type: $(this).attr('method'),
                            url: $(this).attr('action'),
                            data: formData,
                            contentType: false,
	                        processData: false,
                            success: function (xhr, ajaxOptions, thrownError) {
                                if ( $(xhr).find('.has-error').length > 0 ) {
                                    $(modal).find('.modal-content').html(xhr);
                                    formAjaxSubmit(form, modal);
                                    initMap();
                                } else {
                                    $(modal).closeModal();
                                    location.reload();
                                    $.notify({
                                        icon: 'glyphicon glyphicon glyphicon-ok-sign',
                                        message: 'Space added successfully'
                                    },{
                                        // settings
                                        type: 'success',
                                        newest_on_top: true
                                    });
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                            }
                        });
                    });
                }
                $('#comment-button').click(function() {
                    $('#space-modal-body').load('{% url 'event-modal' %}', function () {
                        $('#SpaceModal').openModal();
                        formAjaxSubmit('#space-modal-body form', '#SpaceModal');
                        initMap();
                    });
                });
                $('#SpaceModal').on('shown.bs.modal', function() {
                  //Must wait until the render of the modal appear, thats why we use the resizeMap and NOT resizingMap!! ;-)
                  resizeMap();
                  $('#spaceid').val({{ space.id }});
                });
                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -33.8688, lng: 151.2195},
                    zoom: 13
                  });
                  var input = /** @type  {!HTMLInputElement} */(
                      document.getElementById('id_address'));

                  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                  var autocomplete = new google.maps.places.Autocomplete(input);
                  autocomplete.bindTo('bounds', map);

                  var infowindow = new google.maps.InfoWindow();
                  var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                  });

                  autocomplete.addListener('place_changed', function() {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                      window.alert("Autocomplete's returned place contains no geometry");
                      return;
                    }

                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                      map.fitBounds(place.geometry.viewport);
                    } else {
                      map.setCenter(place.geometry.location);
                      map.setZoom(17);  // Why 17? Because it looks good.
                    }
                    marker.setIcon(/** @type {google.maps.Icon} */({
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                      address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                      ].join(' ');
                    }

                    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    infowindow.open(map, marker);
                  });
                  google.maps.event.addDomListener(window, "resize", resizingMap());
                }
                function resizeMap() {
                  if (typeof map == "undefined") return;
                  resizingMap();
                }
                function resizingMap() {
                  if (typeof map == "undefined") return;
                  var center = map.getCenter();
                  google.maps.event.trigger(map, "resize");
                  map.setCenter(center);
                }

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    lang: 'ca',
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    timeFormat: 'H:mm',
                    events: '/api/events/?format=json',
                    eventClick: function(calEvent, jsEvent, view) {
                        url_to = window.location.href  + 'events/' +  calEvent.id
                        window.location.href = url_to;
{#                        window.open(url_to, '_self');#}
                    }
                });
                $('#btncalendarevents').on('click', function(e) {
                     $('#btncalendarevents').removeClass('active');
                     $('#calendarevents').show('blind');
                     $('#listevents').hide('blind');
                });
                $('#btnlistevents').on('click', function(e) {
                     $('#calendarevents').hide('blind');
                     $('#listevents').show('blind');
                });

			} );
    </script>
{% endblock %}