{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}
   <div class="row">
    <div class="col-sm-12 col-md-12">
       <div class="container-fluid">
    <div class="page-header" style="border-bottom:1px solid #f6bb42">
      <h4 class="pull-left">
        Administration
      </h4>
         {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
         <div class="alert alert-success alert-dismissable pull-left">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
               {{ message }}.
         </div>
    {% endfor %}
{% endif %}


      <div class="pull-right">
        <ol class="breadcrumb breadcrumb-arrow">
                  <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                  <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                </ol>
      </div>
      <div class="clearfix"></div>
    </div>
</div>
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" class="img-circle" style="width: 100px; height: 100px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">La Boite</h4>
                        {% if form.errors %}
                    {% for error in form.errors %}
				    	 {{ error|escape }} </br>
				    {% endfor %}

				{% endif %}
                  </div>
              </div>
          </div>
        </div>

        <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Configuration</h3>
              </div>
              <div class="panel-body">
                 <ul id="myTab1" class="nav nav-tabs">
                  <li class="active"><a href="#home3" data-toggle="tab">Information</a></li>
                  <li class=""><a href="#profile3" data-toggle="tab">Events</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="home3">
                      <div class="row">
                          <div class="col-md-4">
                              <form action="../" method="post" role="form" enctype="multipart/form-data">
                                  {% csrf_token %}
                              <div class="form-group">
                                  <label for="form.name.id_for_label">Name</label>
                                  {{ form.name|add_class:"form-control" }}
                              </div>
                              <div class="form-group">
                                  <label for="form.email.id_for_label">Email</label><br>
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    {{ form.email|add_class:"form-control" }}
                                  </div>
                              </div>
                               <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                               </form>
                          </div>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="profile3">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.  </p>
                    <ul class="media-list">
                          <li class="media">
                            <a class="pull-left" href="#"><img class="media-object img-rounded" src="{% static "img/events/boite.jpg" %}" style="width: 64px; height: 70px;"></a>
                            <div class="media-body">
                              <h4 class="media-heading">Fi d'any 2015</h4>
                              <p>12 Dec, 2015 at 12:00</p>
                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="pull-left" href="#"><img class="media-object img-rounded" src="{% static "img/events/boite.jpg" %}" style="width: 64px; height: 70px;"></a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              <p>12 Apr, 2013 at 12:00</p>
                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            </div>
                          </li>
                        <li class="media">
                            <a class="pull-left" href="#"><img class="media-object img-rounded" src="{% static "img/events/boite.jpg" %}" style="width: 64px; height: 70px;"></a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              <p>12 Apr, 2013 at 12:00</p>
                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            </div>
                          </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
    </div>
</div>

{% endblock %}