{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block container %}
   <div class="row">
    <div class="col-sm-12 col-md-12">
       <div class="container-fluid">
            <div class="page-header" style="border-bottom:1px solid #f6bb42; margin-bottom: 10px!important;">
              <h4 class="pull-left" style="margin-bottom: 0px!important;">
                Administration
              </h4>
                 {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                         <div class="alert alert-success alert-dismissable pull-left">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                               {{ message }}.
                         </div>
                    {% endfor %}
                 {% endif %}
              <div class="pull-right">
                <ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 0px!important;">
                  <li><a href="{% url 'administrationspace' %}"><i class="glyphicon glyphicon-home"></i> Administration</a></li>
                  <li class="active"><span><i class="glyphicon glyphicon-fullscreen"></i>  La Boite</span></li>
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
    </div>
   </div>
    <div class="row">
        <div class="col-md-3">
             <div class="panel panel-default">
                 <div class="panel-body">
                     <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" class="img-responsive img-circle" style="width: 100px; height: 100px; margin:0px auto!important;">
                     <h4 style="text-align: center;">La Boite</h4>
                     <ul class="list-group">
                      <li class="list-group-item"><span class="badge badge-default">25</span>Events</li>
                      <li class="list-group-item"><span class="badge badge-primary">1500</span>Followers</li>
                    </ul>
                     <div>
                         <strong><i class="fa fa-pencil margin-r-5"></i> Type</strong>
                          <p>
                            <span class="label label-danger">Rumba</span>
                            <span class="label label-success">Techno</span>
                            <span class="label label-info">Swing</span>
                            <span class="label label-warning">Rock</span>
                          </p>
                          <hr>

                          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                          <p class="text-muted">Essera, 29 Lleida</p>
                    </div>
                 </div>
             </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                  <ul id="myTab1" class="nav nav-tabs">
                      <li class="active"><a href="#profile3" data-toggle="tab">Upcoming Events</a></li>
                      <li class=""><a href="#home3" data-toggle="tab">Settings</a></li>
                  </ul>
                <div id="myTabContent" class="tab-content">
                     <div class="tab-pane fade active in" id="profile3">
                         <div class="blue center" style="padding-top: 1 0px;">
                              {% for event in events %}
                                  <div>
                                      <div style="margin-bottom: 20px;text-align: center;">
                                           <h5 style="margin-bottom: 0px!important;"><i class="glyphicon glyphicon-calendar"></i> {{ event.title }} - {{ space.name }}</h5>
                                           <span>Date: {{ event.startdate|date }}M</span>
                                        </div>
                                      <img src="{{ event.poster.url }}" alt="500x300" data-src="holder.js/500x300/social" style="height: 400px;">
                                  </div>
                             {% endfor %}
                          <div>
                              <div style="margin-bottom: 20px;text-align: center;">
		                           <h5 style="margin-bottom: 0px!important;"><i class="glyphicon glyphicon-calendar"></i> Fi d'any 2015 - Boite</h5>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
                              <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="height: 400px;">
                          </div>
                          <div>
                              <div style="margin-bottom: 20px;text-align: center;">
		                           <h5 style="margin-bottom: 0px!important;"><i class="glyphicon glyphicon-calendar"></i> Fi d'any 2015 - Boite</h5>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
                              <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="height: 400px;">
                          </div>
                          <div>
                              <div style="margin-bottom: 20px;text-align: center;">
		                           <h5 style="margin-bottom: 0px!important;"><i class="glyphicon glyphicon-calendar"></i> Fi d'any 2015 - Boite</h5>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
                              <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="height: 400px;">
                          </div>
                        </div>
                         <a href="{% url 'administrationevents' %}" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-plus"></span> See all</a>
                  </div>
                     <div class="tab-pane fade" id="home3">
                      <div class="row">
                          <div class="col-md-6">
                              <form action="." method="post" role="form" enctype="multipart/form-data">
                                  {% csrf_token %}
                              <div class="form-group">
                                  <label for="form.name.id_for_label">Name</label>
                                  {{ form.name|add_class:"form-control" }}
                              </div>
                              <div class="form-group">
                                  <label for="form.email.id_for_label">Email</label><br>
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    {{ form.email|add_class:"form-control" }}
                                  </div>
                              </div>
                               <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                               </form>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function() {
				$('.center').slick({
                  centerMode: true,
                  centerPadding: '5px',
                  slidesToShow: 3,
                  responsive: [
                    {
                      breakpoint: 768,
                      settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                      }
                    }
                  ]
                });
			} );
    </script>



{% endblock %}