{% load staticfiles %}
{% load widget_tweaks %}
 <form action="{% url 'event-modal'%}" method="post" role="form" id="eventform" enctype="multipart/form-data">
                    {% csrf_token %}
                              <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                                  <label for="form.title.id_for_label">Name</label>
                                  {% if form.title.errors %}<label class="control-label" for="form.title.id_for_label"> {{ form.title.errors|striptags }}</label>{% endif %}
                                  {{ form.title|add_class:"form-control" }}
                              </div>
                              <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                                  <label for="form.description.id_for_label">Description</label>
                                  {% if form.description.errors %}<label class="control-label" for="form.description.id_for_label"> {{ form.description.errors|striptags }}</label>{% endif %}
                                  {{ form.description|add_class:"form-control" }}
                              </div>
                             <div class="form-group {% if form.startdate.errors %}has-error{% endif %}">
                                 <label for="form.startdate.id_for_label">Start Date</label>
                                 {% if form.startdate.errors %}<label class="control-label" for="form.startdate.id_for_label"> {{ form.startdate.errors|striptags }}</label>{% endif %}
                                 <div class='input-group date' id='datetimepicker1'>
                                    {{ form.startdate|add_class:"form-control" }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                              </div>
                             <div class="form-group {% if form.poster.errors %}has-error{% endif %}">
	                          	 <label for="form.poster.id_for_label">Poster Event</label></br>
                                 {% if form.poster.errors %}<label class="control-label" for="form.poster.id_for_label"> {{ form.poster.errors|striptags }}</label>{% endif %}
                                 <div class="input-group">
	                    	        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                     {{ form.poster|add_class:"form-control" }}
	                    	  	</div>
	              	        </div>
                            <br>
                            <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                                  <label for="form.title.address">Address</label>
                                  {% if form.address.errors %}<label class="control-label" for="form.poster.id_for_label"> {{ form.address.errors|striptags }}</label>{% endif %}
                                  {{ form.address|add_class:"form-control" }}
                              </div>
                            <input type='hidden' id="spaceid" name="spaceid" value="0" />
                            <div id="map" class="form-group"></div>
                           <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </form>
    <script type="text/javascript">
             $('#datetimepicker1').datetimepicker({
                    locale: 'ca',
                    showTodayButton: true,
                    allowInputToggle: true,
                    format: 'L'
                });
        </script>