{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
    <style>
    ol {
    counter-reset: li 5; /* Initiate a counter at 5 */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
    padding-left: 10px;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: 15px 'trebuchet MS', 'lucida sans'!important;
    }

    ol ol {
        margin: 0 0 0 2em; /* Add some left margin for inner lists */
        counter-reset: ol;
    }

    .rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
        text-align: left!important;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

    .rounded-list a:hover{
        background: #eee;
    }

    .rounded-list a:hover:before{
        transform: rotate(360deg);
    }

    .rounded-list a:before{
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #ef6c00;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #d26700;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
        color: white;
    }
    </style>
      <section class="grid3d horizontal" id="grid3d" style="margin-bottom:40px;">
				<div class="grid-wrap">
					<div class="grid">
                        <!--  List Events -->
                        {% for event in events %}
                            <figure>
                                <div class="card">
                                 <div class="card-heading image">
                                    <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
                                    <div class="card-heading-header">
                                       <h3>{{ event.title }}</h3>
                                       <span><i class="glyphicon glyphicon-calendar"></i> Date: {{ event.startdate|date }}</span>
                                    </div>
                                 </div>
                                 <div class="card-media">
                                    <a class="card-media-container" href="#">
                                       <img src="{{ event.poster.url }}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
                                    </a>
                                 </div>
                                 <div class="card-body">
                                    <p>{{ event.description }} </p>
                                 </div>
                              </div>
                            </figure>
                        {% endfor %}
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Fi d'any 2015 - Boite</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	                    		                   
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>La Ruta Universitària</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lespauls.png" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		                   		                     
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>CLasses gratis Bachata</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lochness.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	
		                  </div>
						</figure>	
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/3694859351/417c3467774dd62fe729740b988c3f46_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Lexu's 10 anys</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/manolita.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		    
		                  </div>
						</figure>	
                        <figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/378800000790344965/2e1aeb108fea2b16d6b2ce3782b10e57_reasonably_small.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Ponent Roots Festival</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/ponentroots.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		
		                  </div>
						</figure>	
						</figure>
					</div>
				</div><!--/grid-wrap -->
				<div class="content" style="background-color:rgba(238, 238, 238, 1);">
                    <!--  Content Events -->
                    {% for event in events %}
                        <div class="container" style="background: url('{{ event.poster.url }}') no-repeat center center fixed; background-size: cover; overflow-y: visible; ">
                            <div class="row" style="background-color:rgba(238, 238, 238, 0.85);">
                                <div class="col-md-12">
                                    <img src="{% static "img/lp_list.png" %}" class="img-responsive" style="width: 100% \9;display: block; margin-left: auto; margin-right:auto">
                                </div>
                            </div>
                            <div class="row" style="background-color:rgba(238, 238, 238, 0.85);height: 100%">
                                <div style="position: absolute; top:20%; left: 25px">
                                        <img src="{{ event.poster.url }}" style="width: 275px;">
                                </div>
                                <div class="col-md-4 col-md-offset-4" style="margin-top: 20px; background-color: white!important; border-radius: 25px; border: 2px solid #ef6c00; padding-top: 10px;">
                                    <ol class="rounded-list">
                                        <li><a href="#">Por - Aixó És Espectacle - 3:56 </a></li>
                                        <li><a href="#">Agost - Agost - 4:27</a> </li>
                                        <li><a href="#">Bona nit - Bondia (10è aniversari edició especial) - 3:54	</a>
                                        <li><a href="#">Pau - Agost - 3:38</a></li>
                                        <li><a href="">Jo vull ser rei - Brut Natural - 3:14</a></li>
                                        <li><a href="">Bon Dia - Malacara - 4:40</a></li>
                                        <li><a href="">	Esta plovent - Calla i Balla ! - 2:48</a></li>
                                        <li><a href="">Quina tabarra - Vine a la festa -3:09</a></li>
                                        {% for song in event.song_set.all %}
                                            <li class="animated bounceIn">
                                                <a href="">{{ song.title }} - {{ song.album }} - 3:45</a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
		</section>    
        <div class="clearfix"></div>

     <script>
        $(document).ready(function() {
            new grid3D( document.getElementById( 'grid3d' ) );

            /*
                Fullscreen background
            */
            $.backstretch([
                        "{% static "img/backgrounds/bg_login2.jpg" %}",
                        "{% static "img/backgrounds/2.jpg" %}",
                        "{% static "img/backgrounds/3.jpg" %}",
                       ], {duration: 8000, fade: 750});

        });
    </script>


{% endblock %}