{% extends 'base.html' %}
{% load staticfiles %}

 {% block srcjs %}

 {% endblock %}

{% block container %}
    <style>
    #songs_wrapper{
               color:white;
        font-size: 1em;
        vertical-align: middle!important;
    }
    table{
        color:white;
        font-size: 0.8em;
        vertical-align: middle!important;
    }

    .table>tbody>tr>td{
        vertical-align: middle!important;
    }

    .glyphiconlike {
        color: #FC122D;
{#        background-color: #FF8A3C;#}
        padding: 5px;}

    .glyphiconlike:hover, .glyphiconlike:focus {
  	color: #FF8A3C;
    background-color: #FC122D;
  	padding: 5px;}

.glyph {
    text-align: center;
}
    </style>

    <section class="grid3d horizontal" id="grid3d" style="margin-bottom:40px;">

        <div class="cd-filter z-depth-3">
			<form>
				<div class="cd-filter-block">
					<h4>Search</h4>

                    <div class="input-field">
						<input type="search" id="search-field" class="field" required="" maxlength="">
						<label for="search-field"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

                <div>
					<h4>Distance</h4>
                    <p class="range-field">
                        <input type="range" id="test5" min="0" max="100" />
                    </p>
                </div>

				<div>
					<h4>Check boxes</h4>
                    <p>
                      <input type="checkbox" id="test5" />
                      <label for="test5">Option 1</label>
                    </p>
                    <p>
                      <input type="checkbox" id="test6" />
                      <label for="test6">Option 2</label>
                    </p>
                    <p>
                      <input type="checkbox" id="test7" />
                      <label for="test7">Option 3</label>
                    </p>

				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Select</h4>

					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose an option</option>
								<option value=".option1">Option 1</option>
								<option value=".option2">Option 2</option>
								<option value=".option3">Option 3</option>
								<option value=".option4">Option 4</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Radio buttons</h4>

					<p>
                      <input name="group1" type="radio" id="test1" />
                      <label for="test1">Red</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2" />
                      <label for="test2">Yellow</label>
                    </p>
                    <p>
                      <input class="with-gap" name="group1" type="radio" id="test3"  />
                      <label for="test3">Green</label>
                    </p>
				</div> <!-- cd-filter-block -->
			</form>

			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->
        <a href="#0" class="cd-filter-trigger">Filter <i class="material-icons left">filter_list</i></a>
        <div class="grid-wrap">
            <div class="grid">
                        <!--  List Events -->
                        {% for event in events %}
                            <figure>
                                <div class="card">
                                 <div class="card-heading image">
                                    <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
                                    <div class="card-heading-header">
                                       <h3>{{ event.title }}</h3>
                                       <span><i class="material-icons left">event</i>Date: {{ event.startdate|date }}</span>
                                    </div>
                                 </div>
                                 <div class="card-media">
                                    <a class="card-media-container" href="#">
                                       <img src="{{ event.poster.url }}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
                                    </a>
                                 </div>
                                 <div class="card-body">
                                    <p>{{ event.description }} </p>
                                 </div>
                              </div>
                            </figure>
                        {% endfor %}
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Fi d'any 2015 - Boite</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	                    		                   
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>La Ruta Universitària</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lespauls.png" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		                   		                     
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>CLasses gratis Bachata</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lochness.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	
		                  </div>
						</figure>	
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/3694859351/417c3467774dd62fe729740b988c3f46_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Lexu's 10 anys</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/manolita.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		    
		                  </div>
						</figure>	
                        <figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/378800000790344965/2e1aeb108fea2b16d6b2ce3782b10e57_reasonably_small.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Ponent Roots Festival</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/ponentroots.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		
		                  </div>
						</figure>	
						</figure>
					</div>
        </div><!--/grid-wrap -->
        <div class="content" style="background-color:rgb(18, 19, 20);">
                    <!--  Content Events -->
                    {% for event in events %}
{#                        data-href="{{ event.poster.url }}" data-sharpness="90" id="{{ event.id }}"#}
                        <div class="container" id="{{ event.id }}" style="background: url('{{ event.poster.url }}') no-repeat center center fixed; background-attachment:fixed; background-size: cover; height: 100% ">
                            <div class="row" style="height: 100%" >
                                <div class="col m8 offset-m2" style="background-color:rgba(18, 19, 20, 0.80); height: 100%; border-color: white; border-style: groove; border-top-style: none; border-bottom-style: none;">
                                     <div>
                                         <img src="{% static "img/lp_list.png" %}" class="responsive-img" style="width: 100% \9;display: block; margin-left: auto; margin-right:auto">
                                     </div>
                                    <div style="margin-top: 20px; padding-top: 10px; ">
                                        <table class="table responsive bordered highlight" id="songs">
                                            <thead>
                                              <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                 {% for song in event.song_set.all %}
                                                 <tr >
                                                    <td>
                                                        <img src="https://d3rt1990lpmkn.cloudfront.net/60/b13c44e00ca96657913d59d676d402d4aa76dfb6" height="40" width="40" class="tl-album-cover">
                                                    </td>
                                                    <td>
                                                      <span class="tl-number-wrap">{{ forloop.counter }}</span>
                                                      <audio id="player{{ song.id }}" src="{{ song.href_play }}"></audio>
                                                        <div>
                                                            <button class="play" id="btnPlay{{ song.id }}"><span id="audioControl{{ song.id }}" class="glyphicon glyphicon-play"></span></button>
                                                            <button class="stop" style="display: none;" id="btnPause{{ song.id }}"><span id="audioControl{{ song.id }}" class="glyphicon glyphicon-pause"></span></button>
                                                        </div>
                                                    </td>
                                                    <td>{{ song.title }}</td>
                                                    <td>{{ song.album }}</td>
                                                    <td>666.116</td>
                                                 </tr>
                                                 {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
    </section>
    <div class="blur-this" data-href="/media/events/boite3_szvDnjd.jpg" data-sharpness="1"><div><p class="large">Can't do without you</p></div></div>
    <div class="clearfix"></div>

     <script>
        $(document).ready(function() {
            new grid3D( document.getElementById( 'grid3d' ) );

            $('#songs').DataTable({
                    searching: false,
                    ordering:  false,
                    lengthChange: false,
                    info:false
            });

            $(".play").click(function(){
                btnid = this.id.replace("btnPlay", "");
                audioplayer = document.getElementById('player'+btnid)   ;
                if (audioplayer.paused == false) {
                    audioplayer.pause();
                } else {
                    audioplayer.play();
                }
            });

            /*
                Fullscreen background
            */
            $.backstretch([
                        "{% static "img/backgrounds/bg_login2.jpg" %}",
                        "{% static "img/backgrounds/2.jpg" %}",
                        "{% static "img/backgrounds/3.jpg" %}",
                       ], {duration: 8000, fade: 750});

            //open/close lateral filter
            $('.cd-filter-trigger').on('click', function(){
                triggerFilter(true);
            });
            $('.cd-filter .cd-close').on('click', function(){
                triggerFilter(false);
            });

            function triggerFilter($bool) {
                var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
                elementsToTrigger.each(function(){
                    $(this).toggleClass('filter-is-visible', $bool);
                });
            }
$("#1")..blur();
{#             $('#1').blurr({height: 1024});#}

        });
    </script>


{% endblock %}