{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
    <style>
    #songs_wrapper{
               color:white;
        font-size: 1em;
        vertical-align: middle!important;
    }
    table{
        color:white;
        font-size: 0.8em;
        vertical-align: middle!important;
    }

    .table>tbody>tr>td{
        vertical-align: middle!important;
    }

    .glyphiconlike {
        color: #FC122D;
{#        background-color: #FF8A3C;#}
        padding: 5px;}

    .glyphiconlike:hover, .glyphiconlike:focus {
  	color: #FF8A3C;
    background-color: #FC122D;
  	padding: 5px;}

.glyph {
    text-align: center;
}
    </style>
      <section class="grid3d horizontal" id="grid3d" style="margin-bottom:40px;">
				<div class="grid-wrap">
					<div class="grid">
                        <!--  List Events -->
                        {% for event in events %}
                            <figure>
                                <div class="card">
                                 <div class="card-heading image">
                                    <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
                                    <div class="card-heading-header">
                                       <h3>{{ event.title }}</h3>
                                       <span><i class="glyphicon glyphicon-calendar"></i> Date: {{ event.startdate|date }}</span>
                                    </div>
                                 </div>
                                 <div class="card-media">
                                    <a class="card-media-container" href="#">
                                       <img src="{{ event.poster.url }}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
                                    </a>
                                 </div>
                                 <div class="card-body">
                                    <p>{{ event.description }} </p>
                                 </div>
                              </div>
                            </figure>
                        {% endfor %}
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/547294814031839232/gvj_6sJ1_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Fi d'any 2015 - Boite</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/boite.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	                    		                   
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>La Ruta Universitària</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lespauls.png" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		                   		                     
		                  </div>
						</figure>
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/515450714114359298/22mGyQqz.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>CLasses gratis Bachata</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/lochness.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>	
		                  </div>
						</figure>	
						<figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/3694859351/417c3467774dd62fe729740b988c3f46_400x400.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Lexu's 10 anys</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/manolita.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		    
		                  </div>
						</figure>	
                        <figure>
							<div class="card">
		                     <div class="card-heading image">
		                        <img src="https://pbs.twimg.com/profile_images/378800000790344965/2e1aeb108fea2b16d6b2ce3782b10e57_reasonably_small.jpeg" alt="46x46" data-src="holder.js/46x46" style="width: 46px; height: 46px;">
		                        <div class="card-heading-header">
		                           <h3>Ponent Roots Festival</h3>
		                           <span>Published today - 08.34 AM</span>
		                        </div>
		                     </div>
		                     <div class="card-media">
		                        <a class="card-media-container" href="#">
		                           <img src="{% static "img/events/ponentroots.jpg" %}" alt="500x300" data-src="holder.js/500x300/social" style="width: 500px; height: 300px;">
		                        </a>
		                     </div>
		                     <div class="card-body">
		                        <p>Lorem ipsum </p>
		                     </div>		
		                  </div>
						</figure>	
						</figure>
					</div>
				</div><!--/grid-wrap -->
				<div class="content" style="background-color:rgb(18, 19, 20);">
                    <!--  Content Events -->
                    {% for event in events %}
                        <div class="container" style="background: url('{{ event.poster.url }}') no-repeat center center fixed; background-size: cover; height: 100% ">
                            <div class="row" style="height: 100%" >
                                <div class="col m8 offset-m2" style="background-color:rgba(18, 19, 20, 0.95); height: 100%; border-color: white; border-style: groove; border-top-style: none; border-bottom-style: none;">
                                     <div>
                                         <img src="{% static "img/lp_list.png" %}" class="responsive-img" style="width: 100% \9;display: block; margin-left: auto; margin-right:auto">
                                     </div>
                                    <div style="margin-top: 20px; padding-top: 10px; ">
                                        <table class="table responsive bordered highlight" id="songs">
                                            <thead>
                                              <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                 {% for song in event.song_set.all %}
                                                 <tr >
                                                    <td>
                                                        <img src="https://d3rt1990lpmkn.cloudfront.net/60/b13c44e00ca96657913d59d676d402d4aa76dfb6" height="40" width="40" class="tl-album-cover">
                                                    </td>
                                                    <td>
                                                      <span class="tl-number-wrap">{{ forloop.counter }}</span>
                                                      <audio id="player{{ song.id }}" src="{{ song.href_play }}"></audio>
                                                        <div>
                                                            <button class="play" id="btnPlay{{ song.id }}"><span id="audioControl{{ song.id }}" class="glyphicon glyphicon-play"></span></button>
                                                            <button class="stop" style="display: none;" id="btnPause{{ song.id }}"><span id="audioControl{{ song.id }}" class="glyphicon glyphicon-pause"></span></button>
                                                        </div>
                                                    </td>
                                                    <td>{{ song.title }}</td>
                                                    <td>{{ song.album }}</td>
                                                    <td>666.116</td>
                                                 </tr>
                                                 {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                                </div>
                            </div>
    {#                            <div class="row" style="height: 100%">#}
    {#                                <div style="position: absolute; top:20%; left: 25px">#}
    {#                                        <img src="{{ event.poster.url }}" style="width: 275px;">#}
    {#                                </div>#}
    {#                            </div>#}
                        </div>
                        {% endfor %}
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
		</section>    
        <div class="clearfix"></div>

     <script>
        $(document).ready(function() {
            new grid3D( document.getElementById( 'grid3d' ) );

            $('#songs').DataTable({
                    searching: false,
                    ordering:  false,
                    lengthChange: false,
                    info:false
            });

{#            document.getElementById('player{{ song.id }}').play()#}
            $(".play").click(function(){
                btnid = this.id.replace("btnPlay", "");
                audioplayer = document.getElementById('player'+btnid)   ;
                if (audioplayer.paused == false) {
                    audioplayer.pause();
                } else {
                    audioplayer.play();
                }
            });

            /*
                Fullscreen background
            */
            $.backstretch([
                        "{% static "img/backgrounds/bg_login2.jpg" %}",
                        "{% static "img/backgrounds/2.jpg" %}",
                        "{% static "img/backgrounds/3.jpg" %}",
                       ], {duration: 8000, fade: 750});

        });
    </script>


{% endblock %}